# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SHEESH_LEFT

config ZMK_KEYBOARD_NAME
    default "sheesh"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SHEESH_LEFT || SHIELD_SHEESH_RIGHT
config ZMK_SPLIT
    default y
endif